* { margin: 0; padding: 0;}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: 'Verdana'; color: black;
}


#header {
  width:  100%;
  height: 118px;
  background-color: white;
  position: sticky;
  top: 0;
  border-bottom: 2px solid;
}
.h_innerbox {
  width: 1180px;
  height: 120px;
  margin: 0 auto;
  position: relative;
}

.h_innerbox h1 > a {
  color: black;
}

utilitybar {
  color: gray;
  float: right;
  position: relative;
  right: 30px;
  top: 20px;
}

utilitybar>ul>li {
  float: left;
  padding-left: 20px;
}

utilitybar>ul>li:hover {
  color: red;
}

.h_innerbox h1 {
  position: absolute;
  left: 10px;
  bottom: 15px;
}

global_navigation {
  position: absolute;
  right: 0px;
  bottom: 0px;
  color: black;
  overflow: hidden;
}

global_navigation>ul>li {
  float: left;
  padding: 0 30px 14px 55px;
}

global_navigation>ul>li>a {
  color: black;
}

#section {
  width: 1000px;
  overflow: hidden;
  float: left;
  margin: 130px 244.8px 0;
}
.article1 {
  width: 700px;
  height: 400px;
  overflow: hidden;
  float: left;
  background-image: url("700x400.png");
  margin-bottom: 10px;
  margin-right: 10px;
  position: relative;
}
.article1 span {
  color: white;
  font-size: 30px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
 .article2 {
  width: 290px;
  height: 190px;
  overflow: hidden;
  background-image: url("290x190.png");
  margin-left: 10px;
  margin-bottom: 10px;
  position: relative;
}
.article2 p {
  color: white;
  position: absolute;
  top: 50px;
  left: 10px;
}
 .article3-1 {
  width: 290px;
  height: 95px;
  overflow: hidden;
  background-image: url("290x95-1.png");
  margin-bottom: 10px;
  position: relative;
}
.article3-1 span {
  color: white;
  position: absolute;
  right: 10px;
  bottom: 20px;
}
 .article3-2 {
  width: 290px;
  height: 95px;
  overflow: hidden;
  background-image: url("290x95-2.png");
}
 .article4-1 {
  width: 490px;
  height: 240px;
  overflow: hidden;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  background-image: url("490x240-1.png");
  position: relative; 
}
.article4-1 h5 {
  width: 300px;
  position: absolute;
  top: 160px;
  left: 110px;
}
 .article4-2 {
  width: 490px;
  height: 240px;
  overflow: hidden;
  background-image: url("490x240-2.png");
  position: relative;
}
.article4-2 span {
  font-size: 30px;
  color: gold;
  position: absolute;
  right: 20px;
  bottom: 30px;
}
 .article5 {
  width: 500px;
  height: 490px;
  float: right;
  overflow: hidden;
  background-image: url("500x490.png");
}
.article6 {
  width: 1000px;
  height: 371px;
  float: left;
  overflow: hidden;
  margin: 10px 0;
  background-image: url("1000x371.png");
}
.article6 p {
  font-size: 50px;
  color: white;
  text-shadow: 1.5px 1.5px gray;
  margin: 155.1px;
}
.article7 {
  width: 1000px;
  height: 361px;
  float: left;
  overflow: hidden;
  background-image: url("1000x361.png");
  position:relative;
}
.article7 .inner {
  width: 450px;
  height: 150px;
  font-size: 20px;
  color: white;
  float: right;
  position: absolute;
  right: 30px;
  bottom: 40px;
}
.inner span {
  font-size: 30px;
}